/* Header */
header {
  
  background-color:white; /* set the background color of the header */
  height: 65px; /* set the height of the header */
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* set the z-index to ensure the navbar is always on top */
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 25cm;
  height: 3cm;
}
.img{
  height: 4cm;
  width: 4cm;

}
.navlinks {
  display: flex;
  justify-content: flex-end; /* align links to the right */
  list-style: NONE;
  margin-right: 20px; /* add margin to separate links */

  
}

.links-name {
  margin-right: 20px; /* add margin to separate links */
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 600;
  
}


.navlinks a {
  color: #333; /* set the color of the links */
  font-size: 16px; /* set the font size of the links */
  text-decoration: none;
  transition: all 0.3s ease; /* add a smooth transition effect */
}

.navlinks a:hover {
  color: #666; /* set the color of the links when hovered */
}

.mobile-menu-icon-section {
  display: none; /* hide the mobile menu icon section by default */
  
}


/* About Section */
.about-section {
  position: relative;
  padding: 80px 0;
  background-color: #F9F9F9;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.about-content {
  max-width: 500px;
  text-align: center;
  margin-right: 50px;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}

.about-heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Green-highlight {
  color: #209f1e;
}



.about-image {
  max-width: 100%;
  position: relative;
  
}

.about-image img {
  display: block;
  margin: 0 auto;
  max-width: 400px;
}


/* How it works Section */
.works-section{
  background-color: #fff;
  padding: 100px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Helvetica';
}
.works-header{
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 1cm;
  

}
.works-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}

.works-box {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 50px;
  text-align: center;
  
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color:#209f1e;
  color: #fff;
  margin: 0 auto 15px;
  font-size: 24px;
}
.circle1
{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #209f1e;
  color: #fff;
  margin: 0 auto 15px;
  font-size: 24px;
}

h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.works-content {
  font-size: 15px;
  text-align: calc();
  font-weight: 400;
  word-spacing: -0.01em;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.6;
  text-transform: capitalize;
  font-family: 'Helvetica';
  
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-btn {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Parties section */
.parties-container{
  margin: top 0;
  background-color: #d9d9d9;
  padding: 2px;
}

.parties-header{
  text-align: center;
  padding: 0px;
  background-color:#d9d9d9;
  text-transform: uppercase;
  font-size: larger;
  font-weight: 800;
}
.partners-container{
  justify-content: center;
  align-items: center;
  display: flex;

}
.partners {
  width: 50vw;
  height: 60vh;

}

.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color:black;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.scroll-button:hover {
  opacity: 1;
}



/* Help Section*/
.help-container{
  text-align: center;
  padding: 50px;
  text-transform: capitalize;

}
.help-header{
  text-align: center;
  padding: 20px;
  text-transform: capitalize;
  font-size:160%;
  font-weight: 800;
}
.summary {
  list-style: none;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
}

summary::before {
  content: '+';
  padding-right: 10px;
  font-weight: bold;
}

details[open] summary::before {
  content: '-';
  font-weight: bold;
  color: red;
}
details {
  display: inline-block;
  text-align: left;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding: 5px;
  width: 70%;
}

details:last-of-type {
  border-bottom: none;
}
.summary-p{
  text-align: left;
  margin-left: 0.43cm;
}

summary::-webkit-details-marker {
  display: none;
}


/* Footer Section */
.footer{
  text-align: center;
  padding: 20px;
  text-transform: capitalize;
}

.social-media a svg {
  color: black;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 24px;
  gap: 10px;
}
/* For phones */

  @media only screen and (max-width: 767px) {

/* Header */
.navlinks {
  display: none; /* hide the desktop navigation links */
}
.header{
  padding: 0px;
  margin: 0px;
  background-color:white;
  height: 70px;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.logo {
  width: 25cm;
  height: 3cm;
}
.img{
  height: 4cm;
  width: 4cm;
  margin-left: -0.2cm;
  margin-top :0.3cm; ;
}

.mobile-menu-icon-section {
  display: block; /* show the mobile menu icon section */
  
}

.mobile-navlinks-section {
  background-color:rgb(110, 107, 107); /* set the background color of the mobile menu */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* add a shadow effect */
  display: none; /* hide the mobile navigation links by default */
  position: fixed;
  top: 65px; /* set the top position to be below the header */
  left: 0;
  width: 100%;
  padding: 30px; /* add padding to the mobile menu */
  z-index: 999; /* set the z-index to ensure the mobile menu is on top of everything */
  list-style: none;
  opacity: 0.9;
  
}

.mobile-navlinks-section.open {
  display: block; /* show the mobile navigation links when the mobile menu icon is clicked */
}
.mobilelinks-name{
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 1cm;
  margin-bottom: 20px;
  color: white;
  text-decoration: solid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

.mobile-navlinks-section li {
  margin-bottom: 20px;
} 

.menu-icon {
  display: block;
  cursor: pointer;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 28px;
  margin-right: 20px;
  width: 24px;
}

.menu-icon span {
  background-color:black; /* set the color of the menu icon bars */
  display: block;
  height: 2px;
  position: absolute;
  transition: all 0.3s ease;
  width: 100%;
}

.menu-icon span:nth-child(1) {
  top: 0;
}

.menu-icon span:nth-child(2) {
  top: 50%;
  margin-top: -1px; /* align the second bar to the center */
}

.menu-icon span:nth-child(3) {
  bottom: 0;
}

.menu-icon.open span {
  display: none; /* hide the menu icon bars when the menu is open */
}

.exit-icon {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.exit-icon:before,
.exit-icon:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: translateY(-50%);
}

.exit-icon:before {
  transform: translateY(-50%) rotate(45deg);
}

.exit-icon:after {
  transform: translateY(-50%) rotate(-45deg);
}

  
 

/* About Section */
.about-section {
  position: relative;
  padding: 80px 0;
  background-color: #F9F9F9;

}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

}

.about-content {
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Times New Roman', Times, serif;

}

.about-content p {
  letter-spacing: -0.5px;
}


.about-heading {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.Green-highlight {
  color: #209f1e;
}

.about-image {
  max-width: 80%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1cm;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  display: block;
  max-width: 100%;
  transition: transform 0.3s ease;
}

.about-image img:hover {
  transform: scale(1.2);
}


/* How it works Section */
.works-container {
flex-direction: column;
}
.works-section{
padding: 5px;
}

.works-box {
flex-basis: 100%;
margin-top: 0;
margin-bottom: 0.5cm;


}
.circle1{
margin-top: 0.1cm;
width: 40px;
height: 40px;
font-size: 18px;
border-radius: 50%;
}

.circle {
width: 40px;
height: 40px;
font-size: 18px;
border-radius: 50%;

}
.works-header{
font-size: 30px;
margin-top: 0cm;
margin-bottom: 0cm;
text-align: center;
text-transform: capitalize;


}

h4 {
font-size: 20px;
margin-bottom: 5px;
}

.works-content {
font-size: 30px;
margin: 0;
padding: 0;
text-align: center;
text-transform: capitalize;
font-family: 'Playfair Display', serif;
}

.button-container {
display: flex;
justify-content: center;
margin-top: -0.5cm;
margin-bottom: 0cm;


}

.service-btn {
padding: 8px;
font-size: 16px;
}

/* Parties section */
.partners-container {
width: 100%;
height: auto;
margin-top: 10px;
}
.parties-header{
font-size: 22px;
text-transform: uppercase;
color: #000;
text-align: center;

}

.partners {
width: 100%;
height: auto;
}

/* Help Section */
.help-container {
padding: 50px;
}

.help-header {
margin-top: 0cm;
font-size: 30px;
text-align: center;
line-height: 1.5;

}

.summary {
list-style: none;
font-size: large;
margin-bottom: 5px;
font-weight: 600;
}

.summary-p {
margin-left: 1;

}

/* Footer Section */
.social-media {
font-size: 20px;
}

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 926px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  
  /* Header */
  header {
    height: 60px;
  }
  
  .logo {
    height: 3cm;
    width: 3cm; 
    margin-right: 7cm;
   }
  
  .img {
    height: 3cm;
    width: 3cm;
  }
  
  .navlinks {
    margin-right: 10px;
  }
  
  .links-name {
    font-size: 16px;
  }
  
  .mobile-menu-icon-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* About Section */
  .about-heading {
    font-size: 30px;
  }
  
  .about-image img {
    max-width: 300px;
  }
  
  /* How it works Section */
  .works-header {
    font-size: 30px;
  }
  
  .circle {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  
  .circle1 {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  
  h4 {
    font-size: 16px;
  }
  
  .works-content {
    font-size: 14px;
  }
  
  .service-btn {
    font-size: 16px;
    padding: 8px 16px;
  }
  
  /* Parties section */
  .partners {
    width: 90vw;
  }
  
}
@media only screen and (max-width: 414px) { /* iPhone 11, 12, 13, 14 */
  .logo {
    max-width: 150px;
  }
}

/* iPhone SE and iPhone 5/5s/5c */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  /* styles for 6/6s/7/8 and "Plus" versions */
  /* How it works Section */ 
.about-heading{
font-size: 25px;
}
.works-container {
  flex-direction: column;
  }
  .works-section{
  padding: 5px;
  }
  
  .works-box {
  flex-basis: 100%;
  margin-top: 0;
  margin-bottom: 0.5cm;
  
  
  }
  .circle1{
  margin-top: 0.1cm;
  width: 40px;
  height: 40px;
  font-size: 18px;
  border-radius: 50%;
  }
  
  .circle {
  width: 40px;
  height: 40px;
  font-size: 18px;
  border-radius: 50%;
  
  }
  .works-header{
  font-size: 25px;
  margin-top: 0cm;
  margin-bottom: 0cm;
  text-align: center;
  text-transform: capitalize;
  
  
  }
  
  h4 {
  font-size: 15px;
  margin-bottom: 5px;
  }
  
  .works-content {
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Playfair Display', serif;
  }
  
  .button-container {
  display: flex;
  justify-content: center;
  margin-top: 0cm;
  margin-bottom: 1cm;
  
  
  }
  
  .service-btn {
  padding: 8px;
  font-size: 16px;
  }

  /* Help Section */
.help-container {
  padding: 50px;
  }
  
  .help-header {
  margin-top: -1cm;
  font-size: 30px;
  text-align: center;

  }

  
  .summary {
  list-style: none;
  font-size: large;
  margin-bottom: 5px;
  font-weight: 600;
  }
  
  .summary-p {
  margin-left: 1;
  
  }
  details {
    display: inline-block;
    text-align: left;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
  }
  
  /* Footer Section */
  .social-media {
  font-size: 20px;
  }
  
  
  


}

/* iPhone X/XS/11 Pro and their "Max" versions */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  /* styles for X/XS/11 Pro and "Max" versions */
}

/* iPhone XR/11 and their "Max" versions */
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  /* styles for XR/11 and "Max" versions */

}

/* iPhone 12/13 and their "Pro" versions */
@media only screen and (min-device-width: 390px) and (max-device-width: 844px) {
  /* styles for 12/13 and "Pro" versions */
}

/* iPhone 12/13 "Pro Max" */
@media only screen and (min-device-width: 428px) and (max-device-width: 926px) {
  /* styles for 12/13 "Pro Max" */
}

/* iPhone 14 and its "Pro" version */
@media only screen and (min-device-width: 428px) and (max-device-width: 926px) {
  /* styles for iPhone 14 and its "Pro" version */
}

/* iPhone 14 "Pro Max" */
@media only screen and (min-device-width: 428px) and (max-device-width: 990px) {
  /* styles for iPhone 14 "Pro Max" */
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    height: 80px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navlinks {
    display: none;
  }
  
  .logo {
    margin-left: 10px;
  }

  .mobile-menu-icon-section {
    display: block; /* show the mobile menu icon section */
    
  }
  
  .mobile-navlinks-section {
    background-color:rgb(110, 107, 107); /* set the background color of the mobile menu */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* add a shadow effect */
    display: none; /* hide the mobile navigation links by default */
    position: fixed;
    top: 65px; /* set the top position to be below the header */
    left: 0;
    width: 100%;
    padding: 30px; /* add padding to the mobile menu */
    z-index: 999; /* set the z-index to ensure the mobile menu is on top of everything */
    list-style: none;
    opacity: 0.9;
    
  }
  
  .mobile-navlinks-section.open {
    display: block; /* show the mobile navigation links when the mobile menu icon is clicked */
  }
  .mobilelinks-name{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 1cm;
    margin-bottom: 20px;
    color: white;
    text-decoration: solid;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
  }
  
  .mobile-navlinks-section li {
    margin-bottom: 20px;
  } 
  
  .menu-icon {
    display: block;
    cursor: pointer;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 28px;
    margin-right: 20px;
    width: 24px;
  }
  
  .menu-icon span {
    background-color:black; /* set the color of the menu icon bars */
    display: block;
    height: 2px;
    position: absolute;
    transition: all 0.3s ease;
    width: 100%;
  }
  
  .menu-icon span:nth-child(1) {
    top: 0;
  }
  
  .menu-icon span:nth-child(2) {
    top: 50%;
    margin-top: -1px; /* align the second bar to the center */
  }
  
  .menu-icon span:nth-child(3) {
    bottom: 0;
  }
  
  .menu-icon.open span {
    display: none; /* hide the menu icon bars when the menu is open */
  }
  
  .exit-icon {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .exit-icon:before,
  .exit-icon:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: translateY(-50%);
  }
  
  .exit-icon:before {
    transform: translateY(-50%) rotate(45deg);
  }
  
  .exit-icon:after {
    transform: translateY(-50%) rotate(-45deg);
  }
  
    
   
  
  
  .about-section{
    align-items: center;
  } 
  .about-heading{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
    text-decoration: solid;
    font-family: 'Times New Roman', Times, serif;
  }
  .about-content{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    text-decoration: solid;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .works-section {
    padding: 50px;
  }

  .works-header {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .works-content{
    font-size: 20px;
    margin-bottom: 20px;
  }

  .works-box {
    flex-basis: calc(50% - 20px);
  }

  /* Parties section */
  .parties-container {
    padding: 20px;
  }

  .parties-header {
    font-size: 28px;
  }

  .partners {
    width: 80vw;
    height: 40vh;
  }

  /* Help Section */
  .help-container {
    padding: 30px;
  }

  .help-header {
    font-size: 30px;
  }
  .summary-p{
    font-size: 25px;
  }

  .summary {
    font-size: 25px;
  }

  details {
    width: 90%;
  }

  /* Footer Section */
  .social-media {
    font-size: 20px;
  }

  /* CSS styles for Android phones */

  @media only screen and (max-device-width: 480px) and (max-device-height: 800px) and (-webkit-device-pixel-ratio: 1.5) {
    .navlinks {
      display: none;
    }
    .header {
      height: 60px;
    }
    .logo {
      width: 20cm;
      height: 2cm;
    }
    .img {
    height: 4cm;
    width: 4cm;
    margin-left: -0.2cm;
    margin-top: 0.3cm;


    }
    .mobile-navlinks-section {
      top: 55px;
      padding: 20px;
    }
    .mobilelinks-name {
      font-size: 18px;
      margin-top: 0.8cm;
    }
    .about-heading {
      font-size: 24px;
    }
    .about-image {
      max-width: 70%;
      border-radius: 0.5cm;
    }
  }
  






  
}




  
  





